                   <!DOCTYPE html>
                   <html lang="en">
                   <head>
                       <meta charset="UTF-8">
                       <title>Accessories</title>
                       <meta name="viewport" content="width=device-width, initial-scale=1.0">
                       <meta http-equiv="X-UA-Compatible" content="ie=edge">
                       <link rel="stylesheet" href="js/jquery-3.6.0.min.js">
                       <link rel="preconnect" href="https://fonts.googleapis.com">
                       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
                       <!-- Latest compiled and minified CSS -->
                       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
                       <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
                       <link rel="stylesheet" href="css/product2.css">
                       <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">


                   </head>
                   <body>
                   <!-------------HEADER-------------->
                   <div class="header">
                       <%- include("header")%>
                       <%- include("nav")%>
                   </div>
                   <div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px ">
                       <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">Penjing</h1>
                   </div>
                   <div class="container">
                       <div class="main">
                           <!--   phần list-->
                         <div class="list_product">
                                    <div class="top_list">
                                        <p ><b>product list</b></p>
                                    </div>
                                    <div class="list_box">
                                        <div class="list_box">
                                            <a class="name_list" href="#"><b>interior</b></a>
                                            <ul>
                                                <li class ="list"><a href="/san-pham1"> wooden tables and chairs</a></li>
                                                <li class="list"><a href="/san-pham2">wooden bed</a></li>
                                                <li class="list"><a href="/san-pham3"> wooden collapset</a></li>
                                                <li class="list"><a href="/san-pham4">wooden cabinets</a></li>
                                            </ul>
                                            <a class="name_list" href="#"><b>decorations</b></a>
                                            <ul>
                                                <li class="list"><a href="/san-pham5">clock</a></li>
                                                <li class="list"><a href="/san-pham6">jewelry box</a></li>
                                                <li class="list"><a href="/san-pham7">candy box</a></li>
                                                <li class="list"><a href="/san-pham8">tea tray</a></li>
                                            </ul>
                                            <a class="name_list" href="#"><b>feng shui items</b></a>
                                            <ul>
                                                <li class="list"><a href="/san-pham9">feng shui statue</a></li>
                                                <li class="list"><a href="/san-pham10">feng shui disk</a></li>
                                                <li class="list"><a href="/san-pham11">lucky pot</a></li>
                                                <li class="list"><a href="/san-pham12">feng shui jade</a></li>
                                            </ul>
                                            <a class="name_list" href="#"><b>bamboo handmade</b></a>
                                            <ul>
                                                <li class="list" href="#"><a href="/san-pham13">Fashion handmade</a></li>
                                                <li class="list" href="#"><a href="/san-pham14">decorative accessories</a></li>
                                                <li class="list"><a href="/san-pham15">Bamboo furniture</a></li>
                                                <li class="list"><a href="/san-pham16">replacing plastic products</a></li>
                                            </ul>
                                            <a class="name_list" href="#"><b>Stone</b></a>
                                            <ul>
                                                <li class="list"><a href="/san-pham17">stone paintings</a></li>
                                                <li class="list"><a href="/san-pham18">stone statue</a></li>
                                                <li class="list"><a href="/san-pham19">Penjing</a></li>
                                                <li class="list"><a href="/san-pham20">accessories</a></li>
                                            </ul>
                                        </div>
                                    <div class="main_hot">
                                        <div class="hot_list">
                                            <p><b>Related News</b></p>
                                        </div>
                                        <div class="hot_box">
                                            <div class="hot_box1">
                                                <p>Hoi An opens the 3rd handicraft market night<br>
                                                    <a href="/new1">See more</a>
                                                    <i class="fas fa-eye"></i></p>
                                            </div>
                                            <hr>
                                            <div class="hot_box1">
                                                <p>Water hyacinth knitting abroad in Ninh Binh<br>
                                                    <a href="/new2">See more</a>
                                                    <i class="fas fa-eye"></i></p>
                                            </div>
                                            <hr>
                                            <div class="hot_box1">
                                                <p>Vietnam house - where the fine arts converge<br>
                                                    <a href="/new3">See more</a>
                                                    <i class="fas fa-eye"></i></p>
                                            </div>
                                            <hr>
                                            <div class="hot_box1">
                                                <p>Travel the world looking for handicrafts<br>
                                                    <a href="/new5">See more</a>
                                                    <i class="fas fa-eye"></i></p>
                                            </div>
                                            <hr>
                                            <div class="hot_box1">
                                                <p>Learn about handicraft products at Vietnam House<br>
                                                    <a href="/new4">See more</a>
                                                    <i class="fas fa-eye"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                           <!--    đây là phần sắp xếp-->
                           <div class="content">
                               <div class="top_content">
                                   <ul class="abs">
                                       <li class="top_content_li"><a style="text-decoration: underline; color: #eead5a" href="#">default sort</a></li>
                                       <li class="top_content_li"><a href="#">from a to z</a></li>
                                       <li class="top_content_li"><a href="#">prices gradually</a></li>
                                       <li class="top_content_li"><a href="#">prices increase</a></li>
                                       <li class="top_content_li"><a href="#">Latest</a></li>
                                   </ul>
                                   <hr>
                                   <br>
                               </div>
                               <div class="abs_mobie">
                                   <select>
                                       <option>default sort</option>
                                       <option>from a to z</option>
                                       <option>prices gradually</option>
                                       <option>prices increase</option>
                                       <option>Latest</option>
                                   </select>
                                   <hr>
                               </div>
                               <!--      đây là phần content -->
                               <div class="box_content">

                                   <% for (var i=0;i<SanPham.length;i++){ %>
                                       <div class="box_column">
                                           <a href="/chi-tiet-sp?id=<%= SanPham[i].MaSP %>"><div class="image_box">
                                                   <figure><img src="<%= SanPham[i].Image %>" width="299" height="300"></figure>
                                                   <div class="name_product">
                                                       <h5>EGO WEAR</h5>
                                                       <h4><%= SanPham[i].TenSP %></h4>
                                                       <div class="gia">
                                                           399.000.000đ
                                                       </div>
                                                       <div class="gia2">
                                                           460.000.000đ
                                                       </div>
                                                   </div>
                                                   <button class="heat">
                                                       <i class="far fa-heart"></i>
                                                   </button>
                                                   <button class="buy">
                                                       <i class="fas fa-shopping-basket"> +1</i>
                                                   </button>
                                                   <button style="position: relative;top: -5px" class="buy_now"><a href="/chi-tiet-sp?id=<%= SanPham[i].MaSP %>">
                                                           <i style="margin-left: -53px;position: relative;top: 5px;"  class="fas fa-shopping-basket"></i>
                                                           <p style="margin-left: 25px;margin-top: -12px;font-weight: 600;font-size: 12px">Buy Now</p>
                                                       </a></button>
                                               </div></a>
                                       </div>
                                   <% } %>

                               </div>
                               <!--het content   -->
                           </div>
                       </div>
                   </div>
                   <!--<div class="button_pade">-->
                   <!--    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">-->
                   <!--        <div class="btn-group me-2" role="group" aria-label="First group">-->
                   <!--            <button type="button" style="background-color:#57371f ;" class="btn btn"><a style=" color: #eead5a;" href="#">1</a></button>-->
                   <!--            <button type="button" style="background-color:#57371f ;" class="btn btn"><a style=" color: #eead5a;" href="#">2</a></button>-->
                   <!--            <button type="button" style="background-color:#57371f ;" class="btn btn"><a style=" color: #eead5a;" href="#">3</a></button>-->
                   <!--            <button type="button" style="background-color:#57371f ;" class="btn btn"><a style=" color: #eead5a;" href="#">4</a></button>-->
                   <!--        </div>-->
                   <!--    </div>-->
                   <!--</div>-->

                       <%- include("footer")%>


                   </body>
                   </html>